# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [2]:
num_1 = 1

1

#### 2. asign any number of type float to the variable "num_2"

In [3]:
num_2 = 2.0

2.0

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [4]:
total  = num_1 + num_2

3.0

#### 4. check the type of variable "total"

In [8]:
type(total)

float

#### 5. assign variable "height" with your height

In [9]:
height = 1.89

1.89

#### 6. asign variable "mass" with your weight

In [11]:
mass = 74.5

74.5

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [14]:
bmi = mass/(height * height)

20.856079057137258

#### 8. print value from "bmi" variable

In [16]:
print(bmi)

20.856079057137258

# String

#### 1. Create variable "name" with your first name

In [18]:
name = 'ahmad'

#### 2. Create variable "surname" with your surname

In [19]:
surname = 'sayeb'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [22]:
name_surname = name + ' ' +  surname

#### 4. print variable "name_surname"

In [23]:
print(name_surname)

ahmad sayeb

#### 5. print first letter from variable "name_surname"

In [24]:
print(name_surname[0])

a

#### 6. print your name (without enmpty space) from variable "name_surname"

In [25]:
print(name_surname[:5])

ahmad

#### 7. print your surname 10x (use variable surname)

In [26]:
print(surname * 10)

sayebsayebsayebsayebsayebsayebsayebsayebsayebsayeb

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [30]:
greeting = "Hello my name is " + name_surname

#### 9. print "message" variable

In [31]:
print(greeting)

Hello my name is ahmad sayeb

## List

#### 1. create empty list with name "empty_list"

In [32]:
empty_list = []

#### 2. create list "heights" with five random values

In [34]:
heights = [1.80, 1.75, 1.90, 2.0,2.2]

#### 3. print heights

In [35]:
print(heights)

[1.8, 1.75, 1.9, 2.0, 2.2]

#### 4. print type of variable "heights"

In [36]:
type(heights)

list

#### 5. print second value from "heights"

In [37]:
heights[1]

1.75

#### 6. assign last three values from "heights" to another list "heights_2"

In [39]:
heights_2 = heights[-3:]

#### 7. print "heights_2"

In [40]:
print(heights_2)

[1.9, 2.0, 2.2]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [41]:
list_all = heights + heights_2

#### 9. print "list_all"

In [42]:
print(list_all)

[1.8, 1.75, 1.9, 2.0, 2.2, 1.9, 2.0, 2.2]

#### 10. print the type of "list_all"

In [43]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [44]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [45]:
empty_tupe[0] = 'ahmad'

NameError: name 'empty_tupe' is not defined

#### 3. According to question number 2, what is the main difference between list and tuple?

list is mutable but tupe is immutable

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [46]:
empty_dict = {}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [54]:
heights_dict = {'ahmad': 1.89}

#### 3. asign another name and height to "heights_dict"

In [59]:
heights_dict['bob'] = 1.75

#### 4. print "heights_dict" dictionary

In [60]:
heights_dict

{'ahmad': 1.89, 'bob': 1.75}

#### 5. print your height from the "heights_dict" dictionary

In [56]:
heights_dict['ahmad']

1.89

#### 6. print all values from "heights_dict" dictionary

In [61]:
heights_dict.values()

dict_values([1.89, 1.75])

#### 7. print all keys from "heights_dict" dictionary

In [62]:
heights_dict.keys()

dict_keys(['ahmad', 'bob'])